<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body style="background-color: #FFF;font-family: 'Lucida Grande', Verdana, Sans-serif;">
      <p>Nombre del solicitante: <%= @contact[:name] %></p>
      <p>Pais: <%= @contact[:country] %></p>
      <p>Ciudad: <%= @contact[:city] %></p>
      <p>Teléfono: <%= @contact[:phone] %></p>
      <p>Correo: <%= @contact[:email] %></p>
      <br/>
      <p>Mensaje: <%= @contact[:comments] %></p>        
    </body>
</html>
