<h1>Paquetes</h1>
<div style="float:right;margin-bottom: 10px;">
  <%= link_to 'New Paquete', new_paquete_path, :class=> "btn primary" %>
</div>
<table class="zebra-striped">
  <tr>
    <th>Título</th>
    <th>Subtitulo</th>
    <th>Descripción corta</th>
    <th>Itinerario corto</th>
    <th>Itinerario largo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paquetes.each do |paquete| %>
  <tr>
    <td><%= paquete.titulo %></td>
    <td><%= paquete.subtitulo %></td>
    <td><%= raw RedCloth.new(paquete.descripcion_corta).to_html %></td>
    <td><%= raw RedCloth.new(paquete.itinerario_corto).to_html %></td>
    <td><%= raw RedCloth.new(paquete.itinerario_largo).to_html %></td>
    <td><%= link_to 'Detalle', paquete %></td>
    <td><%= link_to 'Editar', edit_paquete_path(paquete) %></td>
    <td><%= link_to 'Eliminar', paquete, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>