<h1>Detalle del paquete</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @paquete.titulo %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @paquete.subtitulo %>
</p>

<p>
  <b>Descripcion corta:</b>
  <%= raw RedCloth.new(@paquete.descripcion_corta).to_html %>
</p>

<p>
  <b>Itinerario corto:</b>
  <%= raw RedCloth.new(@paquete.itinerario_corto).to_html %>
</p>

<p>
  <b>Itinerario largo:</b>
  <%= raw RedCloth.new(@paquete.itinerario_largo).to_html %>
</p>

<div class="actions">
<%= link_to 'Editar', edit_paquete_path(@paquete), :class => "btn primary" %> 
<%= link_to 'Cancelar', paquetes_path, :class => "btn" %>  
</div>