<%= form_for @banner, :html => {:class => "form-horizontal",  :multipart => true } do |f| %>
  <% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% @banner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  
</div>
  <div class="control-group">
    <%= f.label :title, "Titulo" %>
    <div class="controls">
      <%= f.text_field :title, :class => "input-xxlarge" %>
    </div>    
  </div>
  <div class="control-group">
    <%= f.label :subtitle, "Subtitlo" %>
    <div class="controls">
      <%= f.text_field :subtitle, :class => "input-xxlarge" %>
    </div>    
  </div>
    <div class="control-group">
      <%= f.label :image, "Imagen" %>
      <div class="controls">
        <%= f.file_field :image ,:class => "xlarge input-file" %>
      </div>        
    </div>
  <div class="actions" style="margin-left: 160px;">
    <%= f.submit :class => "btn btn-primary" %>
    <a href="/banners" class="btn">Cancelar</a>
  </div>
<% end %>
