<h1 style="float:left;">Banners</h1>
<div style="float:right;margin-bottom: 10px;">
  <%= link_to 'Nuevo Banner', new_banner_path, :class=> "btn primary" %>
</div>
<div class="clear"></div>
<table class="zebra-striped">
  <tr>
    <th>Ttiulo</th>
    <th>Subtitulo</th>
    <th>Imagen</th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.title %></td>
    <td><%= banner.subtitle %></td>
    <td><%= image_tag banner.image.url(:thumb) %></td>
    <td><%= link_to 'Editar', edit_banner_path(banner) %></td>
    <td><%= link_to 'Eliminar', banner, :confirm => '¿Está seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
