<div class="row clear" style="margin:0px;">
  <div class="span9"  style="width: 722px;">
    <div id="gallery">
      <% @banners.each do |banner|  %>
        <%= link_to banner.tour do %>
          <%= image_tag banner.image.url(:media) %>
          <div class="promotion">
            <h1><%= banner.title %></h1>
            <h2><%= banner.subtitle %></h2>
          </div>
        <% end %>
      <% end %>
    </div>    
    <div id="thumbs">      
      <% @banners.each do |bann| %>
        <%= image_tag bann.image.url(:thumb) %>
      <% end %>
    </div>    
  </div>
  <div class="span3">
    <div class="formulario-contacto form-home">
      <h3 style="text-align: center;border-bottom: 1px solid rgba(0,0,0,0.1)">Central de atención al cliente</h3>
      <div class="line">
        <div class="image"></div>
        <h5 style="margin-top: 10px;">+511.777.5014</h5>
      </div>
      <div class="line">
        <div class="image"></div>
        <h5 style="margin-top: 10px;">Llámanos por Skype</h5>
      </div>
      <div class="line" style="border-bottom: 1px solid rgba(0,0,0,0.1);height:60px;">
        <div class="image"></div>
        <h5 style="margin-top: 10px;">receptivo@andinatravelclub.com</h5>
      </div>
      <div style="margin-left: 18px;">
        <div class="facebook button">FACEBOOK ICON</div>
        <div class="twitter button">TWITTER ICON</div>
        <div class="google-plus button">GOOGLE PLUS ICON</div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>        
<div class="row clear" style="margin:10px 0px;">
  <div class="span9" style="width: 722px;">
    <div class="form-home form-destinos" style="padding: 5px 10px;">
      <h2 style="margin-bottom: 10px;">Nuestros Destinos</h2>
      <ul class="thumbnails">
        <% @tours.each do |tour| %>
          <li class="span3">
            <div class="thumbnail" style="min-height: 240px;position: relative;">
              <%= link_to tour do  %>
                <%= image_tag tour.image.url(:thumb) %>
              <% end %>
              <h5><%= tour.title  %></h5>
              <p><%= tour.subtitle %></p>
              <div>
                <div class="left">
                  <%= tour.days %> días / <%= tour.nights %> noches
                </div>
                <div class="clear"></div>                
              </div>
            </div>
          </li>
        <% end %>
      </ul>      
    </div>
    <div class="clear"></div>
  </div>
  <div class="span3">
    <div class="form-home form-experiencias" style="padding: 5px 0px;">
      <h2 style="margin-bottom: 10px;text-align: center;">Experiencias</h2>
      <ul class="experiencias">
        <% @reviews.each do |review| %>
        <li>
          <blockquote class="pull-right">
            <p>"<%= review.short_description %>"</p>
            <small><%= review.name %></small>
          </blockquote>
        </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <br/>
    <div class="form-home form-facebook" style="padding: 5px 0px;">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fandinatravelclub&amp;width=255&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=113112562038537" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:255px; height:258px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="clear"></div>
</div>