<% content_for :meta do %>
    <meta name="description" content="AndinaTravelClub es una agencia de viajes receptivo. Ofrecemos la posibilidad de vivir una experiencias únicas y que el viaje sea un recuerdo para toda la vida"/>    
    <title>Andina Travel Club - Experiencias únicas en cada destino</title>
<% end %>
<% content_for :javascript do %>
<script type="text/javascript">  
  $(".Microsoft_Live_Messenger_PresenceButton").removeAttr( 'style' );
  $(".Microsoft_Live_Messenger_PresenceButton div").removeAttr( 'style' );
  $(".Microsoft_Live_Messenger_PresenceButton div canvas").remove();
  $(".Microsoft_Live_Messenger_PresenceButton img").remove();
  $(".Microsoft_Live_Messenger_PresenceButton span").remove();
  $(".Microsoft_Live_Messenger_PresenceButton a div").addClass('connect-msn');
</script>
<% end %>
<div class="row clear" style="margin:0px;">
  <div class="span9"  style="width: 722px;">
    <div id="gallery">
      <% @banners.each do |banner|  %>
        <%= link_to banner.tour do %>
          <%= image_tag banner.image.url(:media) %>
          <div class="promotion">
            <h1><%= banner.title %></h1>
            <h2><%= banner.subtitle %></h2>
          </div>
        <% end %>
      <% end %>
    </div>    
    <div id="thumbs">
      <% @banners.each do |bann| %>
        <%= image_tag bann.image.url(:thumb) %>
      <% end %>
    </div>    
  </div>
  <div class="span3">
    <div class="formulario-contacto form-home central">
      <h2 class="title">Central de atención</h2>
      <table cellpadding="0" cellspacing="0" border="0" class="content">
        <tr>
          <td><div class="phone-image"></div></td>
          <td class="central-text">
              <span>(511)472.3553</span><br/>
              <span>(511)777.5014</span>
          </td>
        </tr>
        <tr><td colspan="2"><br/></td></tr>
        <tr>
          <td><div class="skype-image"></div></td>
          <td class="central-text">
              <span>Llámanos por Skype</span><br/>
              <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
              <a href="skype:andina.travel.club?call">Andina.travel.club</a>
          </td>
        </tr>
        <tr><td colspan="2"><br/></td></tr>
        <tr>
          <td><div class="email-image"></div></td>
          <td class="central-text">
              <span>Escríbenos aquí:</span><br/>
              <%= mail_to "receptivo@andinatravelclub.com" %>
          </td>
        </tr>
      </table>
      <div class="central-bottom">
        <a href="http://www.facebook.com/andinatravelclub" target="_blank" title="Andina travel club en facebook"><div class="connect-facebook"></div></a>        
        <a href="http://twitter.com/andinaTravlclub" target="_blank" title="Andina travel club en twitter"><div class="connect-twitter"></div></a>
        <a href="https://plus.google.com/b/104441395577126259780/104441395577126259780/posts" target="_blank" title="Andina travel club en Google plus"><div class="connect-google-plus"></div></a>
        
        <script type="text/javascript" src="http://settings.messenger.live.com/controls/1.0/PresenceButton.js"></script>
        <div
          id="Microsoft_Live_Messenger_PresenceButton_511488505152206d"
          msgr:width="100"
          msgr:backColor="#FCFCFC"
          msgr:altBackColor="#FFFFFF"
          msgr:foreColor="#424542"
          msgr:conversationUrl="http://settings.messenger.live.com/Conversation/IMMe.aspx?invitee=511488505152206d@apps.messenger.live.com&mkt=en-US"></div>
        <script type="text/javascript" src="http://messenger.services.live.com/users/511488505152206d@apps.messenger.live.com/presence?dt=&mkt=en-US&cb=Microsoft_Live_Messenger_PresenceButton_onPresence"></script>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>        
<div class="row clear" style="margin:10px 0px;">
  <div class="span9" style="width: 722px;">
    <div class="form-home form-destinos" style="padding: 5px 10px;">
      <h2 style="margin-bottom: 10px;">Nuestros Destinos</h2>
      <ul class="thumbnails">
        <% @tours.each do |tour| %>
          <li class="span3">
            <div class="thumbnail" style="min-height: 240px;position: relative;">
              <%= link_to tour do  %>
                <%= image_tag tour.image.url(:thumb) %>
              <% end %>
              <h5><%= link_to tour.title, tour %></h5>
              <p><%= tour.subtitle %></p>
              <div class="info-days">
                <div class="left">
                  <%= tour.days %> días / <%= tour.nights %> noches
                </div>
                <div class="clear"></div>                
              </div>
            </div>
          </li>
        <% end %>
      </ul>      
    </div>
    <div class="clear"></div>
  </div>
  <div class="span3">
    <div class="form-home form-experiencias" style="padding: 5px 0px;">      
      <h2 style="margin-bottom: 10px;text-align: center;">Experiencias</h2>
      <ul class="experiencias">
        <% @reviews.each do |review| %>
        <li>
          <blockquote>
            <p>"<%= review.short_description %>"</p>
            <small><%= review.name %></small>
          </blockquote>
        </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <br/>
    <div class="form-home form-facebook" style="padding: 5px 0px;">      
      <div class="fb-like-box" data-href="http://www.facebook.com/andinatravelclub" 
           data-width="255" data-height="258" data-show-faces="true" 
           data-stream="false" data-header="false"></div>
    </div>
    <br/>
    <div>
      <div class="form-home" style="width: 265px;padding: 5px 0px;text-align: center;">
        <%= image_tag "/images/tarjetas.gif" %>
      </div>
    </div>    
  </div>
  <div class="clear"></div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=113112562038537";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>