<% if @current_account  %>
<% content_for :javascript do %>
  <script type="text/javascript">
    $(".alert").alert();    
  </script>
<% end %>

<% if notice %>
<div class="alert-message success fade in" data-alert="alert">
  <a class="close" href="#">×</a>
  <p><%= notice %></p>
</div> 
<% end %>  
<h1 style="float:left;" >Detalle del tour</h1>   
<div class="right">
  <%= link_to 'Editar', edit_tour_path(@tour), :class => "btn btn-primary" %> 
</div>  
<div class="clear page-header"></div>
<p>
  <b>Título:</b>
  <%= @tour.title %>
</p>

<p>
  <b>Subtitulo:</b>
  <%= @tour.subtitle %>
</p>

<p>
  <b>Días / noches:</b>
  <%= @tour.days %> / <%= @tour.nights  %>
</p>

<p>
  <b>Price:</b>
  <%= @tour.price %>
</p>

<p>
  <b>Descripcion corta:</b>  
  <%= raw RedCloth.new(@tour.short_description).to_html %>
</p>

<p>
  <b>Itinerario corto:</b>  
  <%= raw RedCloth.new(@tour.short_itinerary).to_html %>
</p>

<p>
  <b>Itinerario largo:</b>
  <%= raw RedCloth.new(@tour.itinerary).to_html %>
</p>
<h2>Imagen principal</h2>
<div class="clear page-header"></div>
<%= image_tag @tour.image.url(:large) %>
<br/><br/>
<h2>Imágenes variadas del tour</h2>
<div class="clear page-header"></div>
<table class="table table-striped">
  <tr>
    <th style="width: 140px;">imagen</th>   
    <th>descripción</th>
    <th></th>
  </tr>
  <% @tour.images.each do |image| %>
  <tr>
    <td>
      <%= image_tag image.image.url(:media) %>
    </td>
    <td>
      <%= image.description %>
    </td>
    <td>
      <%= link_to 'Eliminar', [image.tour, image], :confirm => 'Desea eliminar esta imagen?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>
<hr>
<%= render 'images/form' %>
<br/>
<h2>Experiencias de los clientes</h2>
<div class="clear page-header"></div>
<table class="table table-striped">
  <tr>
    <th>Sale en el home</th>
    <th>Nombre de cliente</th>
    <th>Reseña corta</th>
    <th>Reseña</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
  </tr>
  <% @tour.reviews.each do |review| %>
    <tr>
      <td>
        <%= review.home ? "Si" : "No" %>
      </td>
      <td>
        <%= review.name %>
      </td>
      <td>
        <%= raw RedCloth.new(review.short_description).to_html %>
      </td>
      <td>
        <%= raw RedCloth.new(review.description).to_html %>
      </td>
      <td>
        <% if review.avatar.file? %>
          <%= image_tag review.avatar.url(:thumb) %>
        <% end %>
      </td>
      <td><%= link_to 'Editar', edit_tour_review_path(review.tour,review) %></td>
      <td>
        <%= link_to 'Eliminar', [review.tour, review], :confirm => 'Desea eliminar esta Reseña?', :method => :delete %>
      </td>      
    </tr>
  <% end %>
</table>
<br/>
<hr>
<%= render 'reviews/form' %>
<% else %>
  <% content_for :javascript do %>
    <script type="text/javascript">
      $(".tour-gallery a").lightBox();
      $(".alert").alert();
    </script>
  <% end %>
  <div class="tour-banner">
    <%= image_tag @tour.image.url(:large) %>
    <div class="promotion">
      <h1><%= @tour.title %></h1>
      <h2><%= @tour.subtitle %></h2>
    </div>    
  </div>
  <div class="row">
    <% if flash[:notice] %>
      <div class="span12 alert alert-success fade in" data-alert="alert" style="margin: 10px 48px;">
        <a class="close" href="#" data-dismiss="alert">×</a>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="span12 alert alert-error fade in" data-alert="alert" style="margin: 10px 48px;">
        <a class="close" href="#" data-dismiss="alert">×</a>
        <%= flash[:error] %>
      </div>
    <% end %>    
    <div class="span8" style="margin-left: 40px;">
      <div class="tour-gallery">
        <ul>
          <% @tour.images.each do |image| %>
            <li>
              <a href="<%= image.image.url(:big) %>">
                <%= image_tag image.image.url(:media) %>
              </a>
            </li>
          <% end %>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="rounded">
        <div class="tour-content">
          <%= raw RedCloth.new(@tour.short_description).to_html %>
          <% if (@tour.short_itinerary != '') then %>
            <h3 style="margin-top:30px;margin-bottom:10px;"><%=  (@tour.place) ? "Que incluye" : "Itinerario resumido" %></h3>
            <%= raw RedCloth.new(@tour.short_itinerary).to_html %>
          <% end %>
          <% if (@tour.itinerary != '') then %>
            <h3 style="margin-top:30px;margin-bottom:10px;">Itinerario detallado</h3>
            <%= raw RedCloth.new(@tour.itinerary).to_html %>
          <% end %>
        </div>
        <div id="disqus_thread" style="margin: 0px 16px;"></div>
        <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'andinatravelclub'; // required: replace example with your forum shortname
              var disqus_developer = 1; // developer mode is on

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>       
      </div>
    </div>
    <div class="span5" style="width: 372px;">
      
      <% if @tour.reviews.to_a.size > 0 %>
      <div class="rounded" style="min-height: 200px;">
          <h2 style="margin-bottom: 10px;text-align: center;">Experiencias</h2>
          <ul class="experiencias">
            <% @tour.reviews.each do |review| %>
            <li>
              <blockquote class="pull-right" style="border:none;margin-left: 20px;">
                <p>"<%= review.short_description %>"</p>
                <small><%= review.name %></small>
              </blockquote>
            </li>
            <% end %>
          </ul>
          <div class="clear"></div>
      </div>
      <% end %>
      <div class="rounded">
        <div class="quote-content">
          <h2 style="margin-bottom: 10px;margin-top: 5px;text-align: center;">Pídamos una cotización</h2>
          <%= render 'quotes/form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>