<%= form_for [@tour, @tour.reviews.build] , :html => { :multipart => true } do |f| %>
<div class="review-form">
  <div class="clearfix">
    <%= f.label :name, "Nombre del cliente:" %>
    <div class="input">
      <%= f.text_field :name, :class => "xlarge" %>
    </div>      
  </div>
  <div class="clearfix">
    <%= f.label :avatar, "Avatar:" %>
    <div class="input">
      <%= f.file_field :avatar ,:class => "xlarge input-file" %>
    </div>
  </div>  
  <div class="clearfix">
    <%= f.label :short_description, "Reseña:" %>
    <div class="input">
      <%= f.text_area :short_description, :rows => 3, :style => "width: 360px;" %>
    </div>      
  </div>  
  <div class="clearfix">
    <%= f.label :description, "Reseña:" %>
    <div class="input">
      <%= f.text_area :description, :rows => 8, :style => "width: 360px;" %>
    </div>      
  </div>
  <div class="clearfix">    
    <div class="input" style="margin-left: 125px;">      
      <label class="add-on" style="width: 300px;">
        <%= f.check_box(:home, {:class => 'gian'}, "yes", "no") %>
        Check para que aparezca en la página inicial
      </label>      
    </div>      
  </div>  
  <%= f.submit :class => "btn primary", :style => "margin-left: 150px;"%>
</div>
<% end %>