<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Andina Travel Club</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "jquery-1.4.2.min" %>  
    <%= javascript_include_tag "jquery-rails.js" %>
    <%= javascript_include_tag "bootstrap-alerts" %>   
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="topbar-wrapper" style="z-index: 5;margin-bottom: 50px;">
      <div class="topbar" data-dropdown="dropdown">
        <div class="topbar-inner">
          <div class="container">
            <h3><a href="javascript:void(0);">Andina travel club</a></h3>
            <ul class="nav">
              <li class="<%=@header_tab == "tour" ? "active" : ""%>"><%= link_to "Administrador de tours",tours_path %></li>
              <li class="<%=@header_tab == "banner" ? "active" : "" %>"><%= link_to "Administrador de banners", banners_path  %></li>
            </ul>
          </div>
        </div><!-- /topbar-inner -->
      </div><!-- /topbar -->
    </div>
    <div class="container">
      <%= yield %>
    </div>    
    <%= yield :javascript %>
  </body>
</html>
