<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Andina Travel Club - Experiencias únicas en cada destino</title>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="navbar">      
        <div class="navbar-inner">
          <div class="container">
            <a href="javascript:void(0);" class="brand">Andina travel club</a>
            <ul class="nav">
              <li class="<%=@header_tab == "tour" ? "active" : ""%>"><%= link_to "Tours",tours_path %></li>
              <li class="<%=@header_tab == "banner" ? "active" : "" %>"><%= link_to "Banners", banners_path  %></li>
              <li class="<%=@header_tab == "account" ? "active" : "" %>"><%= link_to "Usuarios", accounts_path  %></li>
              <li class="<%=@header_tab == "blog" ? "active" : "" %>"><%= link_to "Blog", posts_path  %></li>
              <li class="<%=@header_tab == "media" ? "media" : ""%>"><%= link_to "Media", media_path %></li>
            </ul>
            <div class="right" style="color:white;line-height: 40px;">
              Bienvenido, <%= @current_account.name %> | 
              <%= link_to "Salir", logout_url %>
            </div>
          </div>
        </div><!-- /topbar-inner -->
    </div>
    <div class="container">
      <%= yield %>
    </div>    
    <%= yield :javascript %>
  </body>
</html>
