<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Andina Travel Club - Experiencias únicas en cada destino</title>  
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open Sans' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <style type="text/css">
      .wf-loading p {
        font-family: serif
      }
      .wf-inactive p {
        font-family: serif
      }
      .wf-active p {
        font-family: 'Open Sans', serif
      }
      .wf-loading h1 {
        font-family: serif;
        font-weight: 400;
      }
      .wf-inactive h1 {
        font-family: serif;
        font-weight: 400;
      }
      .wf-active h1 {
        font-family: 'Open Sans', serif;
        font-weight: 400;
      }
    </style>
  <%= stylesheet_link_tag "0.bootstrap.min","2.slider","3.jquery.lightbox-0.5","4.style" %>    
  <%= csrf_meta_tag %>  
</head>
<body>
  <%= render "shared/header" %>
  <div class="container" style="position:relative">
    <div class="andina-bg-monkey"></div>
    <div class="andina-bg-bird"></div>
    <div class="rounded" style="padding-top: 20px;">      
      <%= yield %>            
    </div>
  </div>
  <%= render "shared/footer_link" %>
  <div class="andina-footer clear">
    <div class="container">
      <%= render "shared/footer" %>
    </div>
  </div>  
  <%= javascript_include_tag "jquery-1.7.1.min","application","mocha","jquery.lightbox-0.5.min","bootstrap-alerts", :cache => false %>
  <%= yield :javascript %>
</body>
</html>
