<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Andina Travel club</title>
  <%= stylesheet_link_tag "0.bootstrap.min","2.slider","3.jquery.lightbox-0.5","4.style" %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div class="rounded">
      <%= render "shared/header" %>
      <%= yield %>            
    </div>
  </div>
  <%= render "shared/footer_link" %>
  <div class="andina-footer clear">
    <div class="container">
      <%= render "shared/footer" %>
    </div>
  </div>  
  <%= javascript_include_tag "jquery-1.7.1.min","application","mocha","jquery.lightbox-0.5.min","bootstrap-alerts", :cache => false %>  
  <%= yield :javascript %>
</body>
</html>
