<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>AndinaSite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery-wysihat","application", :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<%= yield :javascript %>
</body>
</html>
