<div class="row">
  <% if flash[:notice] %>
    <div class="span12 alert alert-success fade in" data-alert="alert" style="margin: 10px 48px;">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="span12 alert alert-error fade in" data-alert="alert" style="margin: 10px 48px;">
      <a class="close" href="#" data-dismiss="alert">×</a>
      <%= flash[:error] %>
    </div>
  <% end %>   
  <%= form_tag nil,:class => "form-horizontal" do %>
    <div class="control-group">
      <%= label_tag :email %>
      <div class="controls">
        <%= text_field_tag :email, params[:email],:class => "input-xlarge" %>
      </div>      
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <div class="controls">
        <%= password_field_tag :password, params[:password],:class => "input-xlarge" %>
      </div>
    </div>
    <div class="actions" style="margin-left: 160px;">
      <%= submit_tag "Ingresar", :class => "btn btn-primary" %>
    </div>
  <% end %>    
</div>